.app {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(31, 50, 78, 0.8)), color-stop(50%, rgba(250, 104, 0, 0.3)), to(rgba(31, 50, 78, 0.8)));
  background: linear-gradient(90deg, rgba(31, 50, 78, 0.8) 0%, rgba(250, 104, 0, 0.3) 50%, rgba(31, 50, 78, 0.8) 100%);
}

.app__container {
  width: 99vw;
  max-width: var(--maxWidth);
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(31, 50, 78, 0.5)), color-stop(51.62%, rgba(117, 81, 55, 0.5)), color-stop(99.99%, rgba(31, 50, 78, 0.5)));
  background: linear-gradient(90deg, rgba(31, 50, 78, 0.5) 0%, rgba(117, 81, 55, 0.5) 51.62%, rgba(31, 50, 78, 0.5) 99.99%);
  position: relative;
  z-index: 1;
}

.app__header {
  width: 100%;
  padding: 12px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(249, 178, 78, 0.5)), to(#1c547c));
  background: linear-gradient(0deg, rgba(249, 178, 78, 0.5) 0%, #1c547c 100%);
}

.app__sloganText {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: clamp(12px, 0.8rem, 30px);
  text-transform: uppercase;
  font-style: italic;
  background: linear-gradient(45deg, #092349 0%, #092349 10%, orange 10%, orange 25%, #092349 25%, #092349 55%, orange 55%, orange 88%, #092349 88%, #092349 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0.15rem 0.35rem rgba(17, 17, 17, 0.5);
}

.app__sloganDateWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__dateTimeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
}

.app__dateTime {
  font-size: 0.75rem;
  font-size: clamp(12px, 0.75rem, 30px);
  padding: 3px 5px;
  font-weight: 500;
  letter-spacing: 0.08rem;
  margin: 0 0.05rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6), to(#ffffff));
  background: linear-gradient(180deg, #d6d6d6 0%, #ffffff 100%);
  -webkit-box-shadow: inset -3.04801e-16px -4.97778px 4.97778px #cccccc, inset 3.04801e-16px 4.97778px 4.97778px #ffffff;
          box-shadow: inset -3.04801e-16px -4.97778px 4.97778px #cccccc, inset 3.04801e-16px 4.97778px 4.97778px #ffffff;
}

.app__time {
  border-radius: 0.25rem 0 0 0.25rem;
  color: #061d3a;
  text-shadow: 0px 0.15rem 0.15rem rgba(8, 39, 68, 0.5);
}

.app__date {
  border-radius: 0 0.25rem 0.25rem 0;
  color: #fff;
  text-shadow: 0 0 0.11rem #071738;
}

.app__logoContainer {
  z-index: 999;
  width: 6.5rem;
  width: clamp(100px, 6.5rem, 120px);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 0.25rem #111;
          box-shadow: 0 0 0.25rem #111;
}

.app__logoContainer .logo {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.app__docketContainer {
  margin: 0 auto 1rem auto;
  width: 95%;
  max-width: 850px;
  min-height: 80vh;
  background: rgba(75, 111, 165, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 50, 78, 0.8)), to(rgba(31, 50, 78, 0.1)));
  background: linear-gradient(180deg, rgba(31, 50, 78, 0.8) 0%, rgba(31, 50, 78, 0.1) 100%);
  border-radius: 0 0 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 5px;
  z-index: 999;
}

.app__inputContainer {
  background: rgba(31, 50, 78, 0.1);
  -webkit-box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.25), 3px 3px 5px rgba(0, 0, 0, 0.25);
          box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.25), 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  width: 100%;
  height: 2.5rem;
  padding: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app__inputWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem 0 0 0.25rem;
}

.app__clear {
  border-left: 0.1rem solid #ddd;
  font-size: 1.5rem;
  color: maroon;
  cursor: pointer;
}

.app__listContainer {
  margin: 0.5rem 0;
  padding: 0.3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.app__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}

.app__overlay--hidden {
  display: none;
}

.app__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: #081b38;
}

.app__submitBtn {
  border: none;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
  background: #1f324e;
  background: -webkit-gradient(linear, right top, left top, from(#141e30), to(#243b55));
  background: linear-gradient(-90deg, #141e30 0%, #243b55 100%);
  cursor: pointer;
  padding: 0.3rem 0.5rem;
}

.app__submitBtn:hover {
  color: #fff;
}

.app__iconAdd {
  margin-right: 0.3rem;
  color: #fff;
  font-size: 0.7rem;
}

.app__submitBtn--save {
  letter-spacing: 0.05rem;
  padding: 0.2rem 0.3rem;
}

.app__iconSave {
  color: #fff;
  font-size: 0.8rem;
}

.app__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.3rem 0;
  padding: 0.2rem;
  list-style: none;
  background: rgba(250, 104, 0, 0.5);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 212, 82, 0.8)), to(rgba(84, 74, 125, 0.8)));
  background: linear-gradient(-90deg, rgba(255, 212, 82, 0.8) 0%, rgba(84, 74, 125, 0.8) 100%);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
}

.app__list > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.15rem;
  margin-right: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #c4c4c4;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.app__list > span:last-child {
  margin-right: 0;
}

.app__list > span:hover {
  background: #fff;
}

.app__list .app__editDisabled {
  pointer-events: none;
  cursor: default;
}

.app__list--done {
  background: rgba(83, 80, 78, 0.5);
  background: -webkit-gradient(linear, right top, left top, from(rgba(60, 59, 63, 0.8)), to(rgba(96, 92, 60, 0.8)));
  background: linear-gradient(-90deg, rgba(60, 59, 63, 0.8) 0%, rgba(96, 92, 60, 0.8) 100%);
}

.app__taskText {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  color: #ddd;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-wrap: anywhere;
}

.app__taskText--done {
  text-decoration: line-through;
  color: #aaa;
}

.app__iconDone {
  color: #081b38;
}

.app__iconEdit {
  color: #064606;
  font-size: 0.8rem;
}

.app__iconEdit--disabled {
  color: #888;
}

.app__iconTrash {
  color: #581313;
  font-size: 0.8rem;
}

.app__clearDocket {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.25rem;
  color: #1f324e;
  background: transparent;
  border: 0.12rem solid #1f324e;
  cursor: pointer;
  -webkit-box-shadow: 0 0 2px #222;
          box-shadow: 0 0 2px #222;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.app__clearDocket:hover {
  color: #fff;
  background: #1f324e;
  background: -webkit-gradient(linear, right top, left top, from(#141e30), to(#243b55));
  background: linear-gradient(-90deg, #141e30 0%, #243b55 100%);
}

.app__clearDocket--disabled {
  pointer-events: none;
  color: rgba(31, 50, 78, 0.65);
  border: 0.12rem solid rgba(31, 50, 78, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.app__dontForget {
  margin-top: 2rem;
  width: 10rem;
  height: 7rem;
}

.app__dontForget img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-animation: revolve 5s linear infinite;
          animation: revolve 5s linear infinite;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

.app__noteMsg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.app__noteMsg p {
  border-radius: 0.15rem 0 0 0;
  padding: 0.3rem 0.5rem;
  background: rgba(0, 0, 0, 0.2);
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  color: #bbb;
  text-shadow: 0 0 2px black;
}

@-webkit-keyframes revolve {
  0%,
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes revolve {
  0%,
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

.bg__horizontalLines {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100%;
  height: 0.8rem;
  z-index: -1;
}

.bg__horizontalLines > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.bg__horizontalLines > span:nth-child(1) {
  top: 0;
}

.bg__horizontalLines > span:nth-child(2) {
  top: 50%;
}

.bg__horizontalLines > span:nth-child(3) {
  top: 100%;
}

.bg__verticalLines {
  position: absolute;
  top: 0;
  left: 10%;
  width: 0.8rem;
  height: 100%;
  z-index: -1;
}

.bg__verticalLines > span {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.bg__verticalLines > span:nth-child(1) {
  left: 0;
}

.bg__verticalLines > span:nth-child(2) {
  left: 50%;
}

.bg__verticalLines > span:nth-child(3) {
  left: 100%;
}

.bg__waveLines {
  position: absolute;
  top: 18%;
  left: -2%;
  width: 105%;
  height: 15rem;
  z-index: -1;
  background-color: transparent;
  border: 1px solid rgba(6, 43, 61, 0.5);
  border-radius: 19% 81% 34% 66% / 100% 0% 100% 0%;
}

.bg__waveLines > span {
  position: absolute;
  top: 0;
  left: 0%;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid rgba(6, 43, 61, 0.5);
  border-radius: 19% 81% 34% 66% / 100% 0% 100% 0%;
}

.bg__waveLines > span:nth-child(1) {
  top: 3%;
}

.bg__waveLines > span:nth-child(2) {
  top: 6%;
}

.bg__waveLines > span:nth-child(3) {
  top: 9%;
}

.bg__waveLines > span:nth-child(4) {
  top: 12%;
}

.bg__waveLines > span:nth-child(5) {
  top: 15%;
}

.bg__waveLines > span:nth-child(6) {
  top: 18%;
}

.bg__waveLines > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg__waveLines > div small {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa6800), to(#1f324e));
  background: linear-gradient(180deg, #fa6800 0%, #1f324e 100%);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.bg__waveLines > div small:nth-child(1) {
  top: 25%;
  left: 5%;
  height: 1.5rem;
  width: 1.5rem;
}

.bg__waveLines > div small:nth-child(2) {
  top: 2%;
  right: 3%;
  height: 2rem;
  width: 2rem;
}

.bg__waveLines > div small:nth-child(3) {
  left: 10%;
  bottom: -18%;
  height: 2rem;
  width: 2rem;
}

.bg__waveLines > div small:nth-child(4) {
  left: 2%;
  bottom: -16%;
  height: 1.5rem;
  width: 1.5rem;
}

.bg__shapes-1 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 50%;
  height: 10rem;
  z-index: -2;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(250, 104, 0, 0.5)), to(rgba(31, 50, 78, 0.5)));
  background: linear-gradient(0deg, rgba(250, 104, 0, 0.5), rgba(31, 50, 78, 0.5));
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
  border-radius: 45% 55% 0% 100% / 100% 51% 49% 0%;
}

.bg__shapes-1 > span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(250, 104, 0, 0.5)), to(rgba(31, 50, 78, 0.5)));
  background: linear-gradient(0deg, rgba(250, 104, 0, 0.5), rgba(31, 50, 78, 0.5));
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
  border-radius: 45% 55% 0% 100% / 100% 51% 49% 0%;
}

.bg__shapes-1 > span:nth-child(1) {
  top: 25%;
}

.bg__shapes-1 > span:nth-child(2) {
  top: 50%;
}

.bg__shapes-2 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.bg__shapes-2 > span {
  position: absolute;
  width: 10rem;
  height: 10rem;
  z-index: -1;
}

.bg__shapes-2 > span:nth-child(1) {
  top: 5%;
  left: 1%;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 65% 35% 45% 55% / 51% 16% 84% 49%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 178, 78, 0.5)), to(rgba(28, 84, 124, 0.8)));
  background: linear-gradient(180deg, rgba(249, 178, 78, 0.5) 0%, rgba(28, 84, 124, 0.8) 100%);
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

.bg__shapes-2 > span:nth-child(2) {
  top: 1%;
  right: 1%;
  border-radius: 43% 27% 69% 45% / 72% 39% 62% 9%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(61, 17, 131, 0.3)), to(rgba(185, 133, 19, 0.3)));
  background: linear-gradient(90deg, rgba(61, 17, 131, 0.3) 0%, rgba(185, 133, 19, 0.3) 100%);
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

.bg__shapes-2 > span:nth-child(3) {
  top: 2%;
  right: 2%;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 43% 27% 69% 45% / 72% 39% 62% 9%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(61, 17, 131, 0.3)), to(rgba(185, 133, 19, 0.3)));
  background: linear-gradient(90deg, rgba(61, 17, 131, 0.3) 0%, rgba(185, 133, 19, 0.3) 100%);
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

.bg__shapes-2 > span:nth-child(4) {
  bottom: 1%;
  left: 1%;
  width: 10rem;
  height: 10rem;
  border-radius: 62% 3% 72% 0% / 39% 40% 37% 0%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 178, 78, 0.5)), to(rgba(94, 11, 69, 0.5)));
  background: linear-gradient(90deg, rgba(249, 178, 78, 0.5) 0%, rgba(94, 11, 69, 0.5) 100%);
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

.bg__shapes-2 > span:nth-child(5) {
  bottom: 2%;
  left: 2%;
  width: 5rem;
  height: 5rem;
  border-radius: 62% 3% 72% 0% / 39% 40% 37% 0%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 178, 78, 0.5)), to(rgba(94, 11, 69, 0.5)));
  background: linear-gradient(90deg, rgba(249, 178, 78, 0.5) 0%, rgba(94, 11, 69, 0.5) 100%);
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

@media screen and (min-width: 450px) {
  .app__logoContainer {
    width: 9rem;
    width: clamp(100px, 9rem, 200px);
  }
  .app__sloganText {
    font-size: 0.9rem;
    font-size: clamp(12px, 0.9rem, 30px);
    letter-spacing: 0.09rem;
  }
  .app__dateTime {
    font-size: 1rem;
    font-size: clamp(12px, 0.9rem, 30px);
    padding: 4px 8px;
    letter-spacing: 0.1rem;
    font-weight: 600;
  }
  .app__noteMsg p {
    padding: 0.3rem 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .app__container {
    width: 95vw;
  }
  .app__header {
    padding: 16px 11px;
  }
  .app__logoContainer {
    width: 14rem;
    width: clamp(100px, 14rem, 450px);
  }
  .app__dateTime {
    font-size: 1.2rem;
    font-size: clamp(12px, 1.2rem, 30px);
    padding: 8px 12px;
    font-weight: bold;
    letter-spacing: 0.15rem;
    margin: 0 0.1rem;
  }
  .app__time {
    text-shadow: 0px 0.3rem 0.25rem rgba(8, 39, 68, 0.5);
  }
  .app__date {
    text-shadow: 0 0 0.15rem #071738;
  }
  .app__sloganText {
    font-size: 1.3rem;
    font-size: clamp(12px, 1.3rem, 30px);
    letter-spacing: 0.11rem;
    text-shadow: 0 0.25rem 0.5rem rgba(17, 17, 17, 0.5);
  }
  .app__docketContainer {
    width: 80%;
    min-height: 75vh;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 30px;
  }
  .app__inputContainer {
    border-radius: 0.5rem;
    width: 100%;
    height: 3rem;
    padding: 0.3rem;
  }
  .app__inputWrapper {
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .app__clear {
    border-left: 0.1rem solid #ddd;
    font-size: 2rem;
  }
  .app__listContainer {
    margin: 1rem 0;
    padding: 0.3rem;
  }
  .app__input {
    padding: 0.3rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
  .app__submitBtn {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;
  }
  .app__iconAdd {
    margin-right: 0.25rem;
    font-size: 1rem;
  }
  .app__submitBtn--save {
    padding: 0.5rem 0.8rem;
  }
  .app__iconSave {
    font-size: 1rem;
  }
  .app__list {
    margin: 0.5rem 0;
    padding: 0.3rem;
    border-radius: 0.25rem;
  }
  .app__list > span {
    border-radius: 0.15rem;
    width: 2rem;
    height: 2rem;
  }
  .app__taskText {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .app__iconEdit {
    font-size: 1.2rem;
  }
  .app__iconTrash {
    font-size: 1.2rem;
  }
  .app__clearDocket {
    font-size: 1rem;
    letter-spacing: 0.15rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .app__dontForget {
    margin-top: 3rem;
    width: 18.75rem;
    height: 13.125rem;
  }
  .app__noteMsg > p {
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .bg__horizontalLines {
    top: 2.5rem;
    left: 0;
    width: 100%;
    height: 1rem;
  }
  .bg__horizontalLines > span {
    left: 0;
    width: 100%;
    height: 1px;
  }
  .bg__horizontalLines > span:nth-child(1) {
    top: 0;
  }
  .bg__horizontalLines > span:nth-child(2) {
    top: 50%;
  }
  .bg__horizontalLines > span:nth-child(3) {
    top: 100%;
  }
  .bg__verticalLines {
    top: 0;
    left: 25%;
    width: 1rem;
    height: 100%;
  }
  .bg__verticalLines > span {
    top: 0;
    width: 1px;
    height: 100%;
  }
  .bg__verticalLines > span:nth-child(1) {
    left: 0;
  }
  .bg__verticalLines > span:nth-child(2) {
    left: 50%;
  }
  .bg__verticalLines > span:nth-child(3) {
    left: 100%;
  }
  .bg__waveLines {
    top: 20%;
    left: -2%;
    width: 105%;
    height: 20rem;
  }
  .bg__waveLines > span {
    top: 0;
    left: 0%;
  }
  .bg__waveLines > span:nth-child(1) {
    top: 3%;
  }
  .bg__waveLines > span:nth-child(2) {
    top: 6%;
  }
  .bg__waveLines > span:nth-child(3) {
    top: 9%;
  }
  .bg__waveLines > span:nth-child(4) {
    top: 12%;
  }
  .bg__waveLines > span:nth-child(5) {
    top: 15%;
  }
  .bg__waveLines > span:nth-child(6) {
    top: 18%;
  }
  .bg__waveLines > div {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bg__waveLines > div small {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  }
  .bg__waveLines > div small:nth-child(1) {
    top: 10%;
    left: 10%;
    height: 2rem;
    width: 2rem;
  }
  .bg__waveLines > div small:nth-child(2) {
    top: 2%;
    right: 3%;
    height: 2.5rem;
    width: 2.5rem;
  }
  .bg__waveLines > div small:nth-child(3) {
    left: 10%;
    bottom: -15%;
    height: 2.2rem;
    width: 2.2rem;
  }
  .bg__waveLines > div small:nth-child(4) {
    left: 3%;
    bottom: -14.5%;
    height: 2rem;
    width: 2rem;
  }
  .bg__shapes-1 {
    bottom: 0%;
    right: 0%;
    width: 50%;
    height: 20rem;
  }
  .bg__shapes-1 > span {
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bg__shapes-1 > span:nth-child(1) {
    top: 25%;
  }
  .bg__shapes-1 > span:nth-child(2) {
    top: 50%;
  }
  .bg__shapes-2 {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  .bg__shapes-2 > span {
    width: 20rem;
    height: 20rem;
  }
  .bg__shapes-2 > span:nth-child(1) {
    top: 5%;
    left: 1%;
    width: 15rem;
    height: 15rem;
  }
  .bg__shapes-2 > span:nth-child(2) {
    top: 1%;
    right: 1%;
  }
  .bg__shapes-2 > span:nth-child(3) {
    top: 2%;
    right: 2%;
    width: 15rem;
    height: 15rem;
  }
  .bg__shapes-2 > span:nth-child(4) {
    bottom: 1%;
    left: 1%;
    width: 15rem;
    height: 15rem;
  }
  .bg__shapes-2 > span:nth-child(5) {
    bottom: 1.8%;
    left: 1.5%;
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (min-width: 1440px) {
  .app__header {
    padding: 20px;
  }
  .app__dateTime {
    font-size: 1.5rem;
    font-size: clamp(12px, 1.5rem, 30px);
    padding: 12.8px 16px;
    letter-spacing: 0.25rem;
    font-weight: bolder;
  }
  .app__logoContainer {
    width: 18rem;
    width: clamp(100px, 18rem, 650px);
  }
  .app__sloganText {
    font-size: 1.8rem;
    font-size: clamp(12px, 1.8rem, 30px);
    letter-spacing: 0.22rem;
  }
  .app__noteMsg > p {
    font-size: 1rem;
    letter-spacing: 0.11rem;
  }
}
/*# sourceMappingURL=App.css.map */